<h1>
  Use the tags to quickly search through related topics or enter name of open
  source products to find their alternatives. You can also use '#' to search
  using custom tags.
</h1>

<div class="flex flex-wrap gap-2 mb-2">
  <mat-chip-option
    *ngFor="let item of values"
    [value]="item.id"
    [selected]="selectedOptions.includes(item)"
    (click)="selectOption(item)"
  >
    {{ item.name }}
  </mat-chip-option>
</div>
<form class="flex items-center gap-2">
  <mat-form-field class="w-5/6">
    <mat-label>Search Fields</mat-label>
    <input matInput placeholder="Enter search terms..." />
  </mat-form-field>
  <!-- <button mat-raised-button color="primary" (click)="search()">
    Search <mat-icon>search</mat-icon>
  </button> -->
  <button mat-raised-button color="warn" (click)="clear()" type="reset">
    Clear<mat-icon>delete</mat-icon>
  </button>
</form>
