<mat-card class="mt-2 w-1/4">
  <mat-card-header class="flex gap-1 items-top">
    <a class="flex gap-1 items-top" href="{{ data.html_url }}" target="_blank">
      <img class="w-8 h-8" src="{{ data.avatar_url }}" />
      <h2>
        {{ data.name.toUpperCase() }}
      </h2>
    </a>
    <!-- <button mat-button><mat-icon>favorite</mat-icon></button> -->
  </mat-card-header>
  <mat-card-content class="text-white">
    <div class="flex flex-wrap justify-between">
      <div class="flex gap-1 items-top">
        <mat-icon>star</mat-icon>
        <h3>
          {{ data.stargazers_count }}
        </h3>
      </div>
      <div class="flex gap-1 items-top">
        <mat-icon>fork_right</mat-icon>
        <h3>
          {{ data.forks_count }}
        </h3>
      </div>
      <div class="flex gap-1 items-top">
        <mat-icon>visibility</mat-icon>
        <h3>
          {{ data.watchers_count }}
        </h3>
      </div>
    </div>
    <h3>Language: {{ data.language }}</h3>
    <h3>License: {{ data.license.name }}</h3>
    <div>
      <h3>Tags:</h3>
      <div class="flex flex-wrap gap-1">
        <span
          *ngFor="let tag of data.topics"
          class="bg-gray-500 rounded-full px-2 py-1"
        >
          {{ tag }}
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
