<form [formGroup]="profileForm" class="flex flex-col space-y-2">
  <mat-form-field class="w-min">
    <mat-label>User Email</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>
  <mat-form-field class="w-min">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>
  <button class="w-max" mat-raised-button color="accent">Save Changes</button>
</form>
<div class="mt-2">
  <h1>Saved Repositores</h1>
  <!-- Add code to display the fetched user
     saved repo by using for loop and item-card -->
  <div></div>
</div>
